<aside class="side-bar2">
  <div class="estudiante">
    <div class="row">
      <div style="padding-left: 30px; padding-right: 0" class="col-6">
        <img
          class="logoUser"
          src="../assets/136-1366211_group-of-10-guys-login-user-icon-png.png"
        />
      </div>
      <div
        style="padding-left: 0; padding-right: 0; padding-top: 20px"
        class="col-6"
      >
        <a> <b style="font-size: 20px"> Ignacio Baeza </b></a>
        <a> Estudiante</a>
      </div>
    </div>
  </div>

  <div class="infoEstudiante">
    <br /><a> <b style="font-size: 20px">Datos Estudiante</b></a> <br />
    <a> Correo: ignacio@ubiobio.cl</a> <br />
    <a>Rut: 20.111.540-K</a> <br />
    <a> Carrera: Ing.Civíl Informática </a>
    <br>
    <button type="submit" class="btn btn-danger" (click)="this.loginService.logout()">Cerrar Sesision</button>
  </div>
  <div class="plataformas">
    <a> <b style="font-size: 20px">Plataformas </b></a> <br />
    <button type="button" class="btnPlataformas btn" routerLink="/intranet">Intranet</button>
    <button type="button" class="btnPlataformas btn" routerLink="/moodle">Moodle</button> <br />
    <button type="button" class="btnPlataformas btn" routerLink="/adecca">Adecca</button>
  </div>
</aside>
