<div class="container">
  <!-- <header class="header"> Header </header> -->
  <main class="main-content">
    <div class="nav"></div>
    <div class="main-encuestas">
      <h1 class="encuestasTitulo"><b>Encuestas Disponibles</b></h1>
      <div class="encuestas">
        <div class="encuesta">
          <div class="row">
            <div class="col-8">
              <h3>Encuesta para Memoria de Título</h3>
              <p>
                Junto con saludar y esperando que se encuentren bien junto a sus
                seres queridos, nos permitimos solicitar su colaboración...
              </p>
              <a class="date">23-03-2022</a>
            </div>
            <div class="col-4 botones">
              <a class="departamentoEncuesta">Enfermería</a>
              <button type="button" class="btn btnAceptar">Responder</button>
              <br />
              <button type="button" class="btn btnCancelar">Ignorar</button>
            </div>
          </div>
        </div>
        <div class="encuesta">
          <div class="row">
            <div class="col-8">
              <h3>Encuesta para Memoria de Título</h3>
              <p>
                Para concretar este trabajo les solicitamos que participen en
                este estudio y puedan responder la siguiente encuesta que...
              </p>
              <a class="date">21-03-2022</a>
            </div>
            <div class="col-4 botones">
              <a class="departamentoEncuesta">Ing.Comercial</a>
              <button type="button" class="btn btn-primary btnAceptar">
                Responder
              </button>
              <br />
              <button type="button" class="btn btnCancelar">Ignorar</button>
            </div>
          </div>
        </div>
        <div class="encuesta">
          <div class="row">
            <div class="col-8">
              <h3>Encuesta para Memoria de Título</h3>
              <p>
                Desde la Dirección de Desarrollo Estudiantil (DDE) estamos
                llevando a cabo un proceso que permita analizar el impacto...
              </p>
              <a class="date">17-03-2022</a>
            </div>
            <div class="col-4 botones">
              <a class="departamentoEncuesta">DDE</a>
              <button type="button" class="btnAceptar btn">Responder</button>
              <br />
              <button type="button" class="btn btnCancelar">Ignorar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <aside class="side-bar">
    <img class="logoUbb" src="../assets/Escudo color gradiente 2.png" />

    <div class="row" id="body-row">
      <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
        <ul class="list-group">
          <a
            href="#submenu1"
            data-toggle="collapse"
            aria-expanded="false"
            style="width: 300px; background-color: #cbdcf8"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="menu-collapsed" style="color: black"
                >Encuestas Disponibles</span
              >
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>

          <div id="submenu1" class="collapse sidebar-submenu">
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray"
                >Encuestas de Tesis</span
              >
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray"
                >Encuestas de Asignaturas</span
              >
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray">Ver Todo</span>
            </a>
          </div>
          <a
            href="#submenu2"
            data-toggle="collapse"
            aria-expanded="false"
            style="width: 300px; background-color: #cbdcf8"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="menu-collapsed" style="color: black"
                >Actividades Disponibles</span
              >
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>

          <div id="submenu2" class="collapse sidebar-submenu">
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray"
                >Conversatorios y Charlas</span
              >
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray">Cursos</span>
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray">Concursos</span>
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray">Ver Todo</span>
            </a>
          </div>
          <a
            href="#submenu3"
            data-toggle="collapse"
            aria-expanded="false"
            style="width: 300px; background-color: #cbdcf8"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-start align-items-center">
              <span class="menu-collapsed" style="color: black"
                >Mis Encuestas</span
              >
              <span class="submenu-icon ml-auto"></span>
            </div>
          </a>
          <div id="submenu3" class="collapse sidebar-submenu">
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray"
                >Encuestas Disponibles</span
              >
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray"
                >Encuestas Realizadas</span
              >
            </a>
            <a
              href="#"
              class="list-group-item list-group-item-action text-white"
              style="width: 300px; background-color: #eaf2ff"
            >
              <span class="menu-collapsed" style="color: gray">Ver Todo</span>
            </a>
          </div>
        </ul>
      </div>
    </div>

    <script>
      // Hide submenus
      $("#body-row .collapse").collapse("hide");

      // Collapse/Expand icon
      $("#collapse-icon").addClass("fa-angle-double-left");

      // Collapse click
      $("[data-toggle=sidebar-colapse]").click(function () {
        SidebarCollapse();
      });

      function SidebarCollapse() {
        $(".menu-collapsed").toggleClass("d-none");
        $(".sidebar-submenu").toggleClass("d-none");
        $(".submenu-icon").toggleClass("d-none");
        $("#sidebar-container").toggleClass(
          "sidebar-expanded sidebar-collapsed"
        );
        // Treating d-flex/d-none on separators with title
        var SeparatorTitle = $(".sidebar-separator-title");
        if (SeparatorTitle.hasClass("d-flex")) {
          SeparatorTitle.removeClass("d-flex");
        } else {
          SeparatorTitle.addClass("d-flex");
        }
        // Collapse/Expand icon
        $("#collapse-icon").toggleClass(
          "fa-angle-double-left fa-angle-double-right"
        );
      }
    </script>
    <div class="mainCrear">
      <button type="button" class="btnPlataformas btn">Crear Encuesta</button>
      <br />
      <button type="button" class="btnPlataformas btn">Crear Actividad</button>
    </div>
  </aside>
  <aside class="side-bar2">
    <div class="estudiante">
      <div class="row">
        <div style="padding-left: 30px; padding-right: 0" class="col-6">
          <img
            class="logoUser"
            src="../assets/136-1366211_group-of-10-guys-login-user-icon-png.png"
          />
        </div>
        <div
          style="padding-left: 0; padding-right: 0; padding-top: 20px"
          class="col-6"
        >
          <a> <b style="font-size: 20px"> Ignacio Baeza </b></a>
          <a> Estudiante</a>
        </div>
      </div>
    </div>

    <div class="infoEstudiante">
      <br /><a> <b style="font-size: 20px">Datos Estudiante</b></a> <br />
      <a> Correo: ignacio@ubiobio.cl</a> <br />
      <a>Rut: 20.111.540-K</a> <br />
      <a> Carrera: Ing.Civíl Informática </a>
    </div>
    <div class="plataformas">
      <br />
      <a> <b style="font-size: 20px">Plataformas </b></a> <br />
      <button type="button" class="btnPlataformas btn">Intranet</button> <br />
      <button type="button" class="btnPlataformas btn">Moodle</button> <br />
      <button type="button" class="btnPlataformas btn">Adecca</button>
    </div>
  </aside>
  <footer class="footer"></footer>
</div>
